
@import '../../../style/colors.scss';

.api-reference {
  font-size: 14px;

  h2 {
    margin: 8px 0;
    margin-top: 32px;
    padding: 4px 0 4px 8px;
    background-color: $primary-color;
    color: $on-primary-color;
    font-size: 20px;
  }

  h3 {
    margin: 8px 0;
    padding: 2px 0;
    color: $primary-color;
    border-bottom: 2px solid $primary-color;
    font-size: 16px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $secondary-color;
    color: $on-secondary-color;
    padding: 4px 8px;
    margin-bottom: 4px;
    margin-top: 16px;
    flex-wrap: wrap;

    .name {
      font-family: monospace;
      font-size: 18px;
      font-weight: bold;
    }

    pre {
      margin: 0;
    }
  }

  .example {
    background-color: $background-dark-color;
    padding: 4px;
    margin: 4px 0;
    font-size: 12px;
  }

  .property {
    margin-top: 8px;
  }

  .method {
    margin-top: 8px;
  }

  .param-title {
    font-weight: bold;
    color: $primary-color;
  }

  .param {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-bottom: 1px solid $primary-color;

    .header {
      background-color: initial;
      color: $on-background-color;
      margin-top: 0;

      .name {
        font-size: 16px;
      }
    }

    .description {
      padding: 4px;
      font-size: 12px;
    }
  }

  .full-source {
    text-align: center;
    padding-top: 32px;
    height: 64px;
  }
}
