
.sound-picker {
  width: 640px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .num-picker {
    width: 50%;
  }

  .text-input {
    width: 50%;

    .title {
      width: initial;
    }

    .controls {
      width: initial;
    }
  }

  .std-btn {
    margin: 16px 36px 0 36px;
  }
}
