
@import '../../../style/colors.scss';

.save-btn {
  margin-right: 16px;

  .save-icon {
    margin-right: 8px;

    .isvg {
      fill: $on-primary-color;
      stroke: $on-primary-color;
      width: 24px;
      height: 24px;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
