
@import 'Style/colors.scss';

.top-bar {
  height: 48px;
  flex-grow: 0;
  background-color: $primary-color;
  color: $on-primary-color;
  box-shadow: 0 4px 2px -2px #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

  .btn {
    flex-grow: 0;
    background-color: $secondary-dark-color;
    padding: 4px;
  }

  .title {
    margin-left: 32px;
    font-size: 18px;
    flex-grow: 1;
    align-self: center;
  }
}
