
@import 'Style/colors.scss';
@import 'Style/media.scss';

.navigation-tab {
  background-color: $background-light-color;
  flex-grow: 0;
  width: 48px;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .toggle-panel {
    height: 48px;
    background-color: $primary-dark-color;
    box-shadow: 0 4px 2px -2px #000;
  }

  .button-tabs {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .btn {
    display: flex;
    flex-direction: row;
    height: 48px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.25s;
  }

  .btn:hover {
    background-color: $primary-color;
  }

  .btn.active {
    background-color: $secondary-color;
  }

  .toggle-panel:hover {
    background-color: $secondary-color;
  }
}

.navigation-tab.open {
  width: 200px;

  .btn {
    justify-content: flex-start;
    padding-left: 16px;

    .btn-title {
      padding-left: 16px;
      font-size: 14px;
    }
  }

  .toggle-panel {
  }
}


@media #{ $desktop-small } {
  .navigation-tab {
    width: 40px;

    .toggle-panel {
      height: 40px;
    }

    .btn {
      height: 40px;

      .title {
        font-size: 12px;
      }
      svg {
        width: 28px;
      }
    }
  }

  .navigation-tab.open {
    .btn {
      padding-left: 12px;
    }
  }

}

