@import '../../style/colors.scss';

html {
  height: 100%;
  font-family: sans-serif;
}

body {
  background-color: $background-color;
  color: $on-background-color;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}
