.my-account-modal {
  width: 400px;

  .property {
    font-weight: bold;
    margin-top: 16px;
  }

  .warning-message {
    margin-top: 16px;
  }

  .account-text-input {
    margin-top: 16px;
  }

  .account-btn {
    margin-top: 16px;
  }
}
