
.project-editor {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  .text-input {
    margin-top: 16px;
    width: 720px;
  }

  .num-picker {
    margin-top: 16px;
    width: 720px;
  }
}
