
@import '../../style/colors.scss';

.isvg {
  fill: $on-background-color;
  stroke: $on-background-color;
  width: 32px;
  height: 32px;

  svg {
    width: 32px;
    height: 32px;
  }

  g {
    fill: inherit;
    stroke: inherit;
  }
}

.no-fill {
  fill: none !important;

  svg {
    fill: none !important;
  }

  g {
    fill: none !important;
  }
}

.no-stroke {
  stroke: none !important;

  svg {
    stroke: none !important;
  }

  g {
    stroke: none !important;
  }

}
