
.sound-picker {
  width: 720px;
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  margin-bottom: 8px;

  .num-picker {
    width: 50%;
  }

  .text-input {
    width: 50%;

    .title {
      width: initial;
    }

    .controls {
      width: initial;
    }
  }
}
