@import '../../style/colors.scss';

.tool-picker {
  width: 640px;
  height: 32px;
  background-color: $background-dark-color;
  display: flex;
  align-items: stretch;

  .button-tabs {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    .isvg {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    svg {
      width: 24px;
      height: 24px;
    }

    .active {
      background-color: $primary-color;

      .isvg {
        fill: $on-primary-color;
        stroke: $on-primary-color;
      }
    }
  }

  .custom-tools {
    display: flex;
    align-items: stretch;

    .isvg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
    }

    .btn {
      border: 2px solid transparent;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    .active {
      border: 2px solid $primary-color;

      .isvg {
        fill: $primary-color;
        stroke: $primary-color;
      }
    }
  }
}
