
@import 'Style/colors.scss';

.tile-selector {
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 20;
  background-color: $background-color;
  border-top: 2px solid black;
  border-left: 2px solid black;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content.closed {
    display: none;
  }

  canvas {
    margin: 8px;
  }
}

.tile-selector.open {
  min-width: 300px;
  min-height: 300px;
}

.tile-selector.closed {
  min-width: 300px;
  min-height: 32px;
  overflow: hidden;
}
