
#projects-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .bitmelo-logo {
    margin-top: 8px;
  }
  .current-project {
    width: 608px;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 32px;

    .project-name {
      font-weight: bold;
      margin: 16px;
      margin-top: 8px;
    }
  }
}
