
@import '../../style/colors.scss';

.drop-down-menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $surface-color;
  color: $on-surface-color;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid black;
  white-space: nowrap;
  z-index: 1000;

  .drop-down-item {
    padding: 8px 16px;
    border-top: 1px solid black;
  }
  .drop-down-item:first-child {
    border-top: none;
  }
  .drop-down-item:hover {
    background-color: $surface-light-color;
  }

}

