
.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;

  .instructions-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 64px;

    .text-input {
      width: 100%;
      margin-top: 16px;
    }
  }
}
