
$primary-color: #45A57F;
$primary-dark-color: #398869;
$primary-darker-color: #1c4937;
$primary-light-color: #5dcea1;

$secondary-color: #AD708D;
$secondary-dark-color: #8a4f6b;
$secondary-light-color: #ce89aa;

$background-color: #080c14;
$background-light-color: #0d131f;
$background-lighter-color: #19253d;
$background-dark-color: #000000;

$surface-color: #272d38;
$surface-dark-color: #1c2129;
$error-color: #d50000;

$on-primary-color: #111;
$on-secondary-color: #111;
$on-background-color: #ddd;
$on-surface-color: #ddd;
$on-error-color: #ddd;

