
$primary-color: #1f1daf;
$primary-dark-color: #15147c;
$primary-light-color: #2825cf;

$secondary-color: #138f7f;
$secondary-dark-color: #105f56;
$secondary-light-color: #18a391;

$background-color: #080c14;
$background-light-color: #0d131f;
$background-lighter-color: #19253d;
$background-dark-color: #000000;

$surface-color: #272d38;
$surface-dark-color: #1c2129;
$error-color: #d50000;

$on-primary-color: #eee;
$on-secondary-color: #eee;
$on-background-color: #eee;
$on-surface-color: #ccc;
$on-error-color: #eee;

