
$primary-color: #72ca7e;
$primary-dark-color: #62b46d;
$primary-darker-color: #52a15d;
$primary-light-color: #82df8f;

$secondary-color: #c7c7c7;
$secondary-dark-color: #b1b1b1;
$secondary-light-color: #e9e9e9;

$background-color: #101012;
$background-light-color: #181a20;
$background-lighter-color: #2b303b;
$background-dark-color: #000000;

$surface-color: #2c2f35;
$surface-light-color: #3d4149;
$surface-dark-color: #222429;
$error-color: #d50000;

$on-primary-color: #111;
$on-secondary-color: #111;
$on-background-color: #ddd;
$on-surface-color: #ddd;
$on-error-color: #ddd;

$highlight-color: #fffd84;

