
@import 'Style/colors.scss';

.toggle-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $secondary-color;
  color: $on-secondary-color;
  height: 32px;

  .title {
    font-weight: bold;
    flex-grow: 1;
    padding-left: 8px;
  }
}
