
.main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;

  user-select: none;
  -moz-user-select: -moz-none;

  .main-top-bar {
    .create-account-btn {
      background-color: #7de74c;
      margin: 4px 0;
      padding: 0 8px;
      align-self: stretch;
      font-weight: bold;
      border-radius: 5px;
      border: 1px solid #000000;
    }

    .log-in-btn {
      margin-left: 8px;
      font-weight: bold;
      font-size: 14px;
    }
  }
}
