@import '../../style/colors.scss';

.tool-button {
  &.btn {
    border: 2px solid transparent;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  .isvg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
  }

  &.active {
    border: 2px solid $primary-color;

    .isvg {
      fill: $primary-color;
      stroke: $primary-color;
    }
  }
}
