
@import '../../../style/colors.scss';

.user-button-container {
  position: relative;

  .user-button {
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: $primary-light-color;
    padding: 4px 6px !important;

    .isvg {
      fill: $on-primary-color;
      stroke: $on-primary-color;
      width: 24px;
      height: 24px;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    .start-icon {
      margin-right: 8px;
      width: 24px;
      height: 24px;
    }

    .end-icon {
      margin-left: 8px;
      width: 18px;
      height: 18px;

      .isvg {
        width: 18px;
        height: 18px;

        svg {
          width: 18px;
          height: 18px;
        }
      }

      &.closed {
        transform: scaleY(-1);
      }

      &.open {
        transform: scaleY(1);
      }
    }
  }

  .drop-down-menu {
    margin-top: 34px;
  }

}

