
@import '../../../style/colors.scss';

.script-picker {
  display: flex;
  align-items: center;
  position: relative;

  .index-display {
    font-weight: bold;
    margin-right: 4px;
    margin-left: 16px;
  }

  .text-input {
    margin-top: 0;
    input {
      border-radius: 4px 0 0 4px;
    }
  }

  .toggle-btn {
    width: 32px;
    height: 32px;
    background-color: $primary-color;
    border-radius: 0 4px 4px 0;

    .isvg {
      width: 24px;
      height: 24px;
      transform: scaleY(-1);

      svg {
        width: 24px;
        height: 24px;
      }
    }

    &.open {
      .isvg {
        transform: scaleY(1);
      }
    }
  }

  .toggle-btn:hover {
    background-color: $primary-light-color;
  }

  .drop-down {
    position: absolute;
    top: 0;
    left: 16px;
    background-color: $surface-color;
    color: $on-surface-color;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid black;
    white-space: nowrap;
    z-index: 1000;
    margin-top: 34px;
    width: 320px;
    max-height: 400px;
    overflow-y: auto;

    .script-item {
      display: flex;
      align-items: center;
      border-bottom: 1px solid black;
      background-color: $surface-dark-color;
      min-height: 32px;

      &:hover {
        background-color: $surface-light-color;
      }

      &.selected {
        background-color: $surface-color;

        &:hover {
          background-color: $surface-light-color;
        }
      }

      .index {
        margin: 0 8px;
      }

      .control-btn {
        width: 30px;
        min-width: 30px;
        height: 30px;
        background-color: $primary-color;
        margin: 2px;
        border-radius: 4px;

        .isvg {
          width: 24px;
          height: 24px;
          fill: $on-primary-color;
          stroke: $on-primary-color;

          svg {
            width: 24px;
            height: 24px;
          }
        }

        &:hover {
          background-color: $primary-light-color;
        }
      }

      .button-spacer {
        width: 30px;
        margin: 2px;
      }

      .move-down {
        .isvg {
          transform: scaleY(-1);
        }
      }

      .delete {
        margin-right: 4px;
      }

      .script-name {
        align-self: stretch;
        flex-grow: 1;
        min-width: 0;
        overflow: hidden;
        padding: 0 8px;

        span {
          text-overflow: ellipsis;
          overflow: hidden;
          min-width: 0;
        }
      }
    }

    .add-btn {
      height: 32px;
      min-height: 32px;

      &:hover {
        background-color: $surface-light-color;
      }
    }
  }
}
