
@import '../../../style/colors.scss';

.script-picker {
  display: flex;
  align-items: center;
  position: relative;

  .index-display {
    font-weight: bold;
    margin-right: 4px;
    margin-left: 16px;
  }

  .text-input {
    margin-top: 0;
    input {
      border-radius: 4px 0 0 4px;
    }
  }

  .toggle-btn {
    width: 32px;
    height: 32px;
    background-color: $primary-color;
    border-radius: 0 4px 4px 0;

    .isvg {
      width: 24px;
      height: 24px;
      transform: scaleY(-1);

      svg {
        width: 24px;
        height: 24px;
      }
    }

    &.open {
      .isvg {
        transform: scaleY(1);
      }
    }
  }

  .toggle-btn:hover {
    background-color: $primary-light-color;
  }

  .drop-down {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $surface-color;
    color: $on-surface-color;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid black;
    white-space: nowrap;
    z-index: 1000;
    margin-top: 34px;
  }
}
