
@import '../../style/colors.scss';

.palette-picker {
  position: relative;
  width: 58px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: $background-dark-color;

  .edit-button {
    height: 58px;
    border: 4px solid #aaa;
    margin-bottom: 8px;
  }

  .edit-button:hover {
    border: 4px solid #eee;
  }


  .buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-right: 10px solid $background-dark-color;

    .btn {
      height: 24px;
    }

    .btn:hover {
      border: 2px solid #fff;
      border-radius: 24px 0 0 0;
    }

    .btn.alt {
      border: 2px solid #333;
      border-radius: 24px 0 0 0;

    }

    .btn.active {
      border: 2px solid #fff;
      border-radius: 24px 0 0 0;
    }

    .add-color-button {
      height: 44px;
      border: none;
    }

    .add-color-button:hover {
      border: none;
      background-color: $primary-color;
      border-radius: initial;

      svg {
        fill: $on-primary-color;
        stroke: $on-primary-color;
      }
    }


  }
}
