
.piano {
  align-self: stretch;
  background-color: red;
  height: 160px;
  display: flex;
  justify-content: flex-start;
  margin-right: 10px;
  margin-left: 10px;

  .btn.octave-btn {
    width: 40px;
    background-color: blue;
  }

  .btn.octave-btn.left .isvg {
    transform: scaleX( -1 );
  }

  .scroll-container {
    flex-grow: 1;
    position: relative;
    overflow: hidden;

    .keys-container {
      position: absolute;
      left: 0;
      display: flex;
      height: 100%;
      align-items: stretch;

      .octave {
        display: flex;


        .white-key {
          width: 48px;
          border: 1px solid black;
          background-color: white;
        }
      }
    }
  }

}
