
@import '../../style/colors.scss';

.piano {
  align-self: stretch;
  background-color: $background-light-color;
  height: 140px;
  display: flex;
  justify-content: flex-start;
  margin-right: 10px;
  margin-left: 10px;
  touch-action: none;

  .btn.octave-btn {
    width: 40px;
    background-color: $primary-color;

    svg {
      fill: $on-primary-color;
      stroke: $on-primary-color;
    }
  }

  .octave-btn.left {
    border-right: 4px solid black;
    border-radius: 8px 0 0 8px;
  }

  .octave-btn.right {
    border-left: 4px solid black;
    border-radius: 0 8px 8px 0;
  }

  .btn.octave-btn:hover {
    background-color: $primary-dark-color;
  }

  .btn.octave-btn.left .isvg {
    transform: scaleX( -1 );
  }

  .scroll-container {
    flex-grow: 1;
    position: relative;
    overflow: hidden;

    .keys-container {
      position: absolute;
      left: 300px;
      display: flex;
      height: 100%;
      align-items: stretch;
      transition-property: left;
      transition-duration: 0.5s;

      .octave {
        display: flex;
        position: relative;
      }
    }
  }
}
